@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:500,700|Open+Sans:400,600);

html, code, kbd, pre, samp {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

#header nav#navigation ul li a {
    font-size: 18px;
}

#header nav#navigation ul li a:hover, ul.nav-sidebar li a:hover, ul.nav-sidebar li.active a:hover, ul.nav-sidebar li.active a:hover {
    background-color: #db4800;
    color: white;
}

.svg #band {
    background: url(../img/groovy-logo-white.svg) no-repeat;
    background-color: #4298b8;
    /*background-attachment: fixed;*/
    background-position: 50% 30%;
}

.no-svg #band {
    background: url(../img/groovy-logo-white.png) no-repeat;
    background-color: #4298b8;
    /*background-attachment: fixed;*/
    background-position: 50% 30%;
}

#they-use-groovy {
    width: 100%;
    height: 450px;
    background-color: #db4800;
    margin-bottom: 20px;
    text-align: center;
}

#they-use-groovy .item {
    text-align: center;
    color: white;
}

#logos-holder {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#logos-holder .logo {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 100px;
    height: 80px;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

@media (min-width: 430px) {
    #logos-holder {
        width: 420px;
    }

    #they-use-groovy {
        height: 900px;
    }
}

@media (min-width: 650px) {
    #logos-holder {
        width: 630px;
    }

    #they-use-groovy {
        height: 600px;
    }
}

@media (min-width: 960px) {
    #logos-holder {
        width: 940px;
    }

    #they-use-groovy {
        height: 450px;
    }
}

.centered {
    text-align: center;
}

.event-img {
    margin: -20px -20px 20px -20px;
    background-position: left top;
    height: 180px;
}

article .content time {
    font-weight: bold;
}

.doc-embed {
    border: 0;
    width: 100%;
    min-height: 100%;
}

.download-table {
    width: 100%;
    text-align: center;
}

.download-table td {
    width: 20%;
}

#mc-embedded-subscribe {
    width: 200px;
    font-weight: bold;
}

#mc-embedded-subscribe:hover {
    background-color: #F2F2F2;
    font-weight: bold;
}

#footer .colset-3-footer .col-1 h1, #footer .colset-3-footer .col-2 h1, #footer .colset-3-footer .col-3 h1 {
    font-size: 15px !important;
}

.anchor-link:before {
    content: ' # ';
    color: lightgray;
}

.anchor-link:hover:before {
    color: orange;
}

code, kbd, pre, samp {
    font-family: "Source Code Pro", "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

#contribute-btn {
    position: absolute;
    right: 0px;
}

@media (min-width: 1200px) {
    #contribute-btn {
        top: 25px;
    }
}

#big-download-button {
    float: right;
    font-size: 30px;
    padding: 15px;
    margin: 10px 0px 10px 20px;
    border: 2px solid #db4800;
    border-radius: 6px;
    background-color: #db4800;
    color: white;
}

#big-download-button:hover {
    background-color: #e6e6e6;
    color: #db4800;
}
